.game-of-life {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
